@model BollywoodBoxOffice.Data.Models.Movie

@{
    ViewBag.Title = "Add Review";
}
<h2>Add a Review</h2>
<br />
<form class="form-group well well-lg" action="/Home/AddReview/@Model.Id" method="post">
    <input type="text" class="input-sm" placeholder="Your Name" name="name" />
    <br /><br />
    <input type="text" class="input-sm" placeholder="Stars (out of 5)" name="stars" />
    <br /><br />
    <input type="text" class="input-sm" placeholder="Write review here." name="body" />
    <br /><br />
    <input type="submit" class="btn btn-primary" />
</form>

 